{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    #content{
      margin-block: 10vh;
    }

    .col {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .col > img{
      width: 70%;
      aspect-ratio: 16 / 9;
      filter: brightness(20%);
    }

    .detail {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0;
      bottom: 0;
      right: 0;
      left: 1.5rem;
      margin: 1.5rem 1.5rem 1.5rem 0;
      color: #fff;
    }
  </style>
  <div class="container" id="content">
    <div class="text-center text-light mb-3">
      <h1>HASIL PREDIKSI RISIKO</h1>
      {% comment %} <h3>{{ countData }}</h3> {% endcomment %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 align-items-center">
      {% for o in output %}
        <div class="col p-4">
        <img src="{% static 'image/' %}{{ o.penyakit }}.png">
        <div class="text-center detail">
          <h3 class="text-captalize">Penyakit {{ o.penyakit }}</h3>
          <p class="m-0 text-info">Tingkat Risiko Penyakit</p>
          {% comment %} <legend class="mt-2">{{ o.persen }}</legend> {% endcomment %}
          <legend class="{{ o.html_class }}">{{ o.tingkat_kesakitan }}</legend>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center">
      <a href="/decisionTree" class="btn btn-dark px-5 py-3">LIHAT MODEL POHON KEPUTUSAN</a>
    </div>
  </div>
  
{% endblock %}
